header {
	justify-content: start;
}
header h2{
	color:hsl(240, 10%, 50%);
	margin-left: 80px;
}

.intro {
	display: flex;	
	flex-flow: row nowrap;	
	justify-content: space-between;
	min-width: 1000px;

}
	.intro__identity {
		display: flex;	
		flex-flow: column nowrap;	
		align-items: center; 
		width:  47%;
		padding-top: 4%;	
		padding-bottom: 4%;
		background-color: hsl(240, 20%, 80%);
	}
		.intro__identity h1 {
			margin-top: 10%;
			font-size: 2.2rem;
			color: black;
		}
		.intro__identity--photo {
			display: flex;	
			flex-flow: column nowrap;	
			align-items: center; 
			width: 50%;
			height: 80%;
			border: 10px solid hsl(204, 20%, 95%);
		}
		.intro__identity--photo img {
			width: 100%;
			height: 100%;
		}
	.intro__bio {
		display: flex;	
		flex-flow: column nowrap;	
		justify-content: space-around;
		width: 36%;
		padding: 5%;		
		padding-left: 10%;
		background-color: hsl(210, 30%, 40%);
	}

.xp {
	display: flex;	
	flex-flow: row nowrap;	
	justify-content: space-around;
	min-width: 1000px;
	padding-top: 3%;	
	padding-bottom: 3%;
	background-color: hsl(240, 10%, 50%);
}
	.xp__left {
		display: flex;	
		flex-flow: column nowrap;	
		align-items: center;
		width: 36%;
	}
	.xp__right {
		display: flex;	
		flex-flow: row nowrap;	
		justify-content: start;
		align-items: center;		
		width: 36%;
		padding-left: 5%;
	}	

span {
	color: hsl(210, 30%, 40%);
}
h2 {
	color: black;
}