.intro {
	display: flex;
	flex-flow: row nowrap;	
	justify-content: space-between;
	/* height: 550px; */
	/* width: 66%; */
	/* min-width: 1000px; */
	margin-top: 75px;
	/* border: 3px solid hsl(138, 87%, 45%);	 */
}
	.intro__left {
		display: flex;	
		flex-flow: column nowrap;	
		align-items: center; 
		width: 40%;
		/* margin-left: 80px; */
		background-color: hsl(98, 16%, 51%);
	}
		.intro__left h1 {
			margin-top: 60px;
			font-size: 2rem;
			color: hsl(240, 20%, 15%);
		}
		.intro__left--photo {
			display: flex;	
			flex-flow: column nowrap;	
			align-items: center; 
			width: 40%;
			height: 50%;
			margin-top: 80px;
			border: 10px solid hsl(204, 20%, 95%);
		}

	.intro__right {
		display: flex;	
		flex-flow: column nowrap;	
		justify-content: space-around;
		width: 50%;
		margin-right: 60px;
		background-color: hsl(240, 20%, 10%);
	}
		.intro__rigth--heading {
			/* margin: auto; */
		}
		.intro__rigth--body {
			display: flex;	
			flex-flow: column nowrap;	
			justify-content: space-between;
			align-items: center;
		}
		.intro__rigth--body div {
			background-color: hsl(210, 30%, 40%);
			width: 80%;
			margin-top: 40px;
			padding: 20px;
			padding-left: 40px;
		}
		.intro__rigth--body h2 {
			color: white;
		}

.xp {
	flex-flow: row nowrap;	
	justify-content: space-around;
	padding: 30px 0 30px 0;	
	background-color: hsl(240, 10%, 50%);
	width: 66%;
	margin-top: 40px;
}
	.xp__left {
		display: flex;	
		flex-flow: column nowrap;	
		align-items: center;
		width: 36%;
	}
	.xp__right {
		display: flex;	
		flex-flow: row nowrap;	
		justify-content: start;
		align-items: center;		
		width: 36%;
		padding-left: 5%;
	}	
.xp h1, .xp h2, .xp h3 {
	margin: 7px;
}

span {
	color: white;
}
