header h3 {
	margin-left: 40px;
     color: hsl(240, 10%, 50%);
}
  
.menu {
	display: flex;	
	flex-flow: row nowrap;	
	justify-content: space-between;
}
	.menu a  {
		width: 45%;
		margin: 0 -10px 0 -10px;
	}
	a:link, a:visited {
		background-color: hsl(240, 20%, 15%);
		color: white;
		padding: 14px 25px;
		text-align: center;
		text-decoration: none;
	  }
	  a:hover, a:active {
		background-color: hsl(210, 30%, 40%);
	  }
