.meteo {
	display: flex;
    flex-flow: row wrap;
	justify-content: center;
	align-items: center;
    width: 90%;
    height: 550px;
    margin-top: 80px;
    background-color: hsl(98, 16%, 51%);
}

.ville {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 40%;
	margin: 20px;
	background-color: hsl(98, 16%, 51%);
}
.ville h1,h2,h3 {
	margin: 15px 0 15px 0;
	color: white;
}