.meteo {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}

.ville {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 49%;
	height: 49%;
	background-color: hsl(240, 20%, 15%);
}
.ville h1,h2,h3 {
	margin: 15px 0 15px 0; /* top rigth bottom left*/
	color: white;
}
#zone {
	display: flex;
	flex-flow: column nowrap;
	justify-content: end;
	align-items: center;
	width: 50%;
	height: 500px;
}

#zone h2 {
	font-style: italic;
	font-size: 1rem;
	margin: 25% 0 5% 66%;
}