body {
	display: flex;	flex-flow: column nowrap;	justify-content: flex-start;	align-items: center;
	width: 100%;	margin: 0%; 	padding: 0%;
	font-family: "Arcon-Regular";
}

header {
	display: flex;	
	flex-flow: row nowrap;	
	justify-content: space-between;
	align-items: center;	
	width: 100%;
	height: 90px;
	margin: 35px 0 30px 0;
	padding: 15px 0 15px 0; 
	background-color: hsl(240, 20%, 15%);
}
	header > h1 {	
		margin-right: 30%;
		color: white;	
	}
	header h3 {
		font-style: italic;
		color: hsl(240, 10%, 50%);
	}
	header aside {
		display: flex;
		flex-flow: column nowrap;
		width: 15%;
		min-width: 225px;
		margin-left: 7%;
		padding: 25px;
		border: 10px solid hsl(240, 20%, 10%);
	}
		header aside a {
			align-self: flex-start;
		}
		header aside h3 {
			align-self: flex-end;
		}
footer {
	display: flex;	
	flex-flow: row nowrap;	
	justify-content: center;
	align-items: center;	
	width: 100%;
	height: 90px;
	margin-top: 150px;
	background-color: hsla(240, 19%, 15%, 0.521);
}

.main {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}
	.main__menuLeft {
		display: flex;	
		flex-flow: row nowrap;
		justify-content: center;
		width: 32%;
	}
		.main__menuLeft nav {
			display: flex;	
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 70%;
			height: 550px;
			min-width: 225px;
			margin-top: 80px;
			background-color: hsl(240, 20%, 10%);
		}
		.main__menuLeft nav a {
			width: 75%;
			margin: 10px;
		}
	.main__pageRight {
		width: 70%;
		margin: 0px;
		padding: 0px;
	}

h1 {	
	font-size: 1.6rem;
	color: white;
}
h2 {	
	font-size: 1.1rem;
	color: white;
}
h3 {	
	font-size: 1rem;
	color: hsl(0, 0%, 3%);
}
@font-face {
	font-family: "Arcon-Regular";
	src: url("fonts/arcon/Arcon-Regular.otf");
}
img  {width: 100%;	height: 100%;}

a:link, a:visited {
	color: white;
	text-align: center;
	text-decoration: none;
  }
  a:hover, a:active {
	background-color: hsl(210, 30%, 40%);
  }