body {
	display: flex;	
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	margin: 0%;
	padding: 0%;
	background-color: hsl(240, 20%, 10%);
	font-family: "Arcon-Regular";
}
header, footer {
	display: flex;	
	flex-flow: row nowrap;	
	justify-content: center;
	align-items: center;	
	width: 100%;
	height: 90px;
	margin-top: 35px;
	padding: 15px 0 15px 0; 
	background-color: hsl(240, 20%, 15%);
}

section {
	width: 66%;
	margin-top: 40px;
}
.whiteborder {border: 10px solid hsl(240, 10%, 80%);}

h1 {	
	font-size: 1.6rem;
	color: white;
}
h2 {	
	font-size: 1.2rem;
	color: white;
}
h3 {	
	font-size: 1rem;
	color: hsl(0, 0%, 3%);
}
@font-face {
	font-family: "Arcon-Regular";
	src: url("fonts/arcon/Arcon-Regular.otf");
}
img  {width: 100%;	height: 100%;}